
@layer components {
    .Home{
    
    
        h1{
        text-align: center;
        padding-top: 4rem;
        }

        .info-box{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding-top: 4rem;
            gap: 3rem;
        }
    }
}